

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
    background-color: rgb(28, 20, 20);
    color: #150463;
}
body{
    background-color: rgb(164, 174, 170);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    width: 50%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 174, 170);
  }
#countdown {
    font-size: 112px;
    cursor: auto;
  }
button {
    display: inline-block;
    font-size: 24px;
    padding: 20px 70px;
    background: #ff1876;
    color: #fff;
    border-radius: 40px; 
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    transition: box-shadow 0.25s;
  }
button:active{
    background: #d80972 ;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.cointainer{
    width: 300px;
    height: 500px;
    box-shadow: 6px 6px 10px rgb(216, 113, 113), 
                -6px -6px 10px rgba(255,200,50) ;
    border-radius: 20px;
    background-color: rgb(133, 30, 110);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

svg{
    width: 200px;
    height:300px;
    /* border: 1px solid yellow; */
}
#cicle-out{
    fill:transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 15px;
    stroke-dasharray: 450;
    position: relative;
    transform: translate(30px,30px);

}
#cicle-in{
    fill:transparent;
    stroke: rgb(146, 184, 110);
    stroke-width: 15px;
    stroke-dasharray: 0;
    position: relative;
    transform: translate(30px,30px);
}
p{
    position: absolute;
    /* border: 1px solid red; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    top:175px;
    left:125px;
}